# Dependency directories
node_modules/

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Optional: Also ignore environment files
.env
.env.local

# Android build files
android/app/build/
android/.gradle/
*.apk
*.aab

android/app/.cxx/
